<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>File Uploaded</title>
  </head>
  <body>
    <h1>File uploaded!</h1>
    <% for (let image of images) { %>
    <img src=".<%= image %>" /> <br />
    <% } %>

    <h4><a href="/user/home">Go back to home</a></h4>
  </body>
</html>
