<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>Slack Clone</title>
  </head>
  <body>
    <h1 class="text-center">Welcome to the amazing Slack Clone!</h1>

    <div class="d-grid gap-2 col-6 mx-auto">
      <a href="/user/login" class="btn btn-primary">Login</a>
      <a href="/user/register" class="btn btn-secondary">Register</a>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-5">
      <h4 class="text-center">This is a list of all our beautiful users</h4>
      <ul class="text-center list-group">
        <% for (let user of users) { %>
        <li class="list-group-item"><%=user.username%></li>
        <%}%>
      </ul>
    </div>
  </body>
</html>
